[Desktop Entry]
Type=Application
Icon=text
NoDisplay=true
Terminal=true
MimeType=video/avi;video/mpeg;video/mp4;video/ogg;video/quicktime;video/msvideo;video/webm;video/x-matroska;video/x-mpeg;video/x-ms-wmv;video/x-msvideo;video/x-flv;application/ogg;
Categories=AudioVideo;
ServiceTypes=KonqPopupMenu/Plugin,video/*

Name=OpenSubtitlesDownload
GenericName=Automatic subtitles downloader
Comment=Download synchronized subtitles from opensubtitles.org

OnlyShowIn=KDE;Razor;TDE;
Exec=openSubtitlesDownload.py --gui=kde "%F"
